.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.left {
  grid-column: 1 / span 6;
  background-color:#E1F2D5;
  height: 100%;
}

.right {
  grid-column: 7 / span 6;
  background-color: white;
  height: 100%;
}

.wrapper {
  max-width: 600px;
  padding: 16px;
  /* background-color: white; */
}

.left .wrapper {
  margin-left: auto;
}

.right .wrapper {
  margin-right: auto;
}


@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .left, .right {
    grid-column: 1 / span 1;
    height: auto;
  }

  .left .wrapper, .right .wrapper {
    margin: 0 auto;
  }
}